

<body>
    <header>
        <!-- <div class="project-name">Event Management System</div> -->
        <a routerLink="/" routerLinkActive="active" class="project-name" style="color: white; text-decoration: none;"
        >Event Management System</a>
        <div class="nav-links">
            
            <a routerLinkActive="active" routerLink="/assets">Assets</a>
            <a routerLinkActive="active" routerLink="/venue">Venue</a>
            <a routerLinkActive="active" routerLink="/bookings">Bookings</a>
        </div>
    </header>
</body>