<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UoTzs11M6E7TlH+6LE5i9bQJj8SIfjsJUGaO+qVZJqVehdUW7hoQL5xYNsnGVCzN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgydA7NiLd0S+BX9u6/LyCWpSMEDDDqPyCq5S6Lq8EG1jb6tFPr1dOZLUhE+"
    crossorigin="anonymous"></script>

<br>
<div class="d-flex justify-content-between align-items-center">
    <h4 class="heading-fancy mb-0">Bookings Details</h4>
    <h4 class="mb-0">
        <i class="fa-solid fa-circle-plus fa-2x" (click)="onAdd()" style="cursor: pointer;" title="Add Customer"></i>
    </h4>
</div>

<br>
<table class="table table-striped">
    <thead class="">
        <tr>
            <!-- <th>eventBookingId</th> -->
            <th>Customer Name</th>
            <th>Mobile Number</th>
            <th>Venue Name</th>
            <th>Event Date</th>
            <th>Booked Hours</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings">
            <td>{{ booking.customerName }}</td>
            <td>{{ booking.mobileNumber }}</td>
            <td>{{ booking.venueName }}</td>
            <td>{{ booking.eventDateTime }}</td>
            <td>{{ booking.bookedHours }}</td>
            <td>
                <a title="Add Assets" (click)="onAddBtnAsset(booking)">
                    <i class="fa-solid fa-cart-plus" style="color: #333;"></i>
                </a>
                <!-- &nbsp;
                <a href="#" title="Booking Preview">
                    <i class="fa-solid fa-eye" style="color: #333;"></i>
                </a> -->
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editAssetTxt" *ngIf="forEdit">Edit Booking</h4>
                <h4 class="modal-title" id="addAssetTxt" *ngIf="forAdd">Add Booking</h4>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Customer Name<font style="color:red;">*</font></label>
                        <input type="text" class="form-control" id="" placeholder="Enter Customer Name"
                            [(ngModel)]='customerName'>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="">Select Date<font style="color:red;">*</font></label>
                        <input type="datetime-local" class="form-control" id="" placeholder="Select Date"
                            [(ngModel)]="eventDateTime">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Mobile<font style="color:red;">*</font></label>
                        <input type="text" class="form-control" id="" placeholder="Enter Mobile Number"
                            [(ngModel)]='mobileNumber'>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="">Hours<font style="color:red;">*</font></label>
                        <input type="text" class="form-control" id="" placeholder="Enter Hours"
                            [(ngModel)]='bookedHours'>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Venue<font style="color:red;">*</font></label>
                        <select class="form-control" id="venueS" placeholder="Venue" [(ngModel)]="venueId">
                            <option value="0" selected disabled hidden>Select Venue</option>
                            <option *ngFor="let venue of venueDetails" [value]="venue.venueId">{{ venue.venueName }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer" *ngIf="forAdd">
                <button type="button" class="btn btn-dark" id="btnAdd" class="btn btn-clr"
                    (click)="addBooking()">Add</button>
            </div>

            <!-- <div class="modal-footer" *ngIf="forEdit">
                <button type="button" class="btn btn-dark" id="btnUpdate" class="btn btn-clr"
                    (click)="editAsset()">Update</button>
            </div> -->
        </div>
    </div>
</div>

<!-- Asset Modal -->
<div class="modal" tabindex="-1" role="dialog" [style.display]="showAssetModal ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="editAssetTxt" *ngIf="forEdit">Edit Booking</h4> -->
                <h4 class="modal-title" id="">Add Asset</h4>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Asset<font style="color:red;">*</font></label>
                        <select class="form-control" id="venueS" placeholder="Venue" [(ngModel)]="assetId">
                            <option value="0" selected disabled hidden>Select Asset</option>
                            <option *ngFor="let asset of assets" [value]="asset.assetId">{{ asset.assetName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="">Quantity<font style="color:red;">*</font></label>
                        <input type="text" class="form-control" id="" placeholder="Enter Quantity"
                            [(ngModel)]='quantity'>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="btnAdd" class="btn btn-clr"
                    (click)="addAsset()">Add</button>
            </div>

            <!-- <div class="modal-footer" *ngIf="forEdit">
                <button type="button" class="btn btn-dark" id="btnUpdate" class="btn btn-clr"
                    (click)="editAsset()">Update</button>
            </div> -->
        </div>
    </div>
</div>