@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.heading-fancy {
    letter-spacing: -2px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    background: linear-gradient(to right, #333 0%, #7e7d7a 100%);
    -webkit-background-clip: text;
    background-clip: text; /* Standard property for compatibility */
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: inline-block;
    margin-bottom: 25px;
}
